<template>
  <div class="map-kazakhstan">
    <ul class="map-kazakhstan__parts">
      <li
          v-for="(region, i) in filteredRegions"
          :id="region.region_id"
          :key="i"
          :class="[`map-kazakhstan__item ${region.class}`, {'map-kazakhstan__item-active': !region?.disabled}]"
          :style="region.xy"
          @click="clickRegion(region)"
      >
        <component
            :is="region.component"
        />
        <div class="map-kazakhstan__info">
          <p>{{ region.name }}</p>
        </div>
      </li>
    </ul>
  </div>
</template>

<script setup lang="ts">
import Ulytau from "@/components/shared/assets/icons/map/KZ KAR 2.svg?skipsvgo"
import Karaganda from "@/components/shared/assets/icons/map/KZ KAR 3.svg?skipsvgo"
import Akmola from "@/components/shared/assets/icons/map/KZ AKM 1.svg?skipsvgo"
import Astana from "@/components/shared/assets/icons/map/KZ AKM 2.svg?skipsvgo"
import Aktobe from "@/components/shared/assets/icons/map/KZ AKT 1.svg?skipsvgo"
import AlmatyObl from "@/components/shared/assets/icons/map/KZ ALM 1.svg?skipsvgo"
import Zhetisu from "@/components/shared/assets/icons/map/KZ ALM 2.svg?skipsvgo"
import Almaty from "@/components/shared/assets/icons/map/KZ ALM 3.svg?skipsvgo"
import Atyrau from "@/components/shared/assets/icons/map/KZ ATY 1.svg?skipsvgo"
import Kustanai from "@/components/shared/assets/icons/map/KZ KUS 1.svg?skipsvgo"
import Kyzylorda from "@/components/shared/assets/icons/map/KZ KZY 1.svg?skipsvgo"
import Mangystau from "@/components/shared/assets/icons/map/KZ MAN 1.svg?skipsvgo"
import Pavlodar from "@/components/shared/assets/icons/map/KZ PAV 1.svg?skipsvgo"
import SKO from "@/components/shared/assets/icons/map/KZ SEV 1.svg?skipsvgo"
import Abai from "@/components/shared/assets/icons/map/KZ VOS 1.svg?skipsvgo"
import VKO from "@/components/shared/assets/icons/map/KZ VOS 3.svg?skipsvgo"
import Turkistan from "@/components/shared/assets/icons/map/KZ YUZ 1.svg?skipsvgo"
import Shymkent from "@/components/shared/assets/icons/map/KZ YUZ 2.svg?skipsvgo"
import ZKO from "@/components/shared/assets/icons/map/KZ ZAP 1.svg?skipsvgo"
import Zhambyl from "@/components/shared/assets/icons/map/KZ ZHA 1.svg?skipsvgo"


type Id = 1 | 2 | 3 | 4 | 5 | 6 | 7 | 8 | 9 | 10 | 11 | 12 | 13 | 14 | 15 | 16 | 17 | 18 | 19 | 20

interface Region {
  region_id: Id
}

interface Props {
  regions?: Region[]
  disabledRegions?: Id[]
}


const props = withDefaults(defineProps<Props>(), {
  regions: () => Array.from({length: 20}, (_, index) => ({region_id: (index + 1) as Id})),
  disabledRegions: () => []
})
const emit = defineEmits(["onClickMap"])


const positions = computed(() => {
  const data =
      {
        1: {class: "almaty", xy: "top: 354px; left: 628.91px;", component: Almaty, name: "Алматы"},
        2: {class: "astana", xy: "top: 112.11px; left: 451.5px;", component: Astana, name: "Астана"},
        3: {class: "shymkent", xy: "top: 395px; left: 466px;", component: Shymkent, name: "Шымкент"},
        4: {class: "akmola", xy: "top: 62.41px; left: 393.56px;", component: Akmola, name: "Акмолинская область"},
        5: {class: "aktobe", xy: "top: 143.5px; left: 149.28px;", component: Aktobe, name: "Актюбинская область"},
        6: {
          class: "almaty-obl",
          xy: "top: 289.21px; left: 568.54px;",
          component: AlmatyObl,
          name: "Алматинская область"
        },
        7: {class: "atyrau", xy: "top: 212.61px; left: 10.89px;", component: Atyrau, name: "Атырауская область"},
        8: {class: "vko", xy: "top: 152.04px; left: 727.95px;", component: VKO, name: "Восточно-Казахстанская область"},
        9: {class: "zhambyl", xy: "top: 311.55px; left: 472.04px;", component: Zhambyl, name: "Жамбылская область"},
        10: {class: "zko", xy: "top: 128.36px; left: 0;", component: ZKO, name: "Западно-Казахстанская область"},
        11: {class: "karaganda", xy: "top: 143px; left: 438px;", component: Karaganda, name: "Карагандинская область"},
        12: {class: "kustanai", xy: "top: 26.09px; left: 282.27px;", component: Kustanai, name: "Костанайская область"},
        13: {
          class: "kyzylorda",
          xy: "top: 255.5px; left: 258.3px;",
          component: Kyzylorda,
          name: "Кызылординская область"
        },
        14: {
          class: "mangystau",
          xy: "top: 295.57px; left: 72.88px;",
          component: Mangystau,
          name: "Мангистауская область"
        },
        15: {class: "pavlodar", xy: "top: 35.22px; left: 560.9px;", component: Pavlodar, name: "Павлодарская область"},
        16: {class: "sko", xy: "top: 0; left: 405.99px;", component: SKO, name: "Северо-Казахстанская область"},
        17: {
          class: "turkistan",
          xy: "top: 311.89px; left: 406.22px;",
          component: Turkistan,
          name: "Туркестанская область"
        },
        18: {class: "abai", xy: "top: 130.23px; left: 626.91px;", component: Abai, name: "Область имени Абая"},
        19: {class: "ulytau", xy: "top: 189.89px; left: 333px;", component: Ulytau, name: "Область Ультау"},
        20: {class: "zhetisu", xy: "top: 270.4px; left: 621.52px;", component: Zhetisu, name: "Область Жетісу"},
      }

  for (let i in props.disabledRegions) {
    if (data[i]) {
      data[i].disabled = true
    }
  }
  return data
})


const filteredRegions = computed(() => {
  return props.regions.map((item) => {
    return {
      ...item,
      ...positions.value[item.region_id],
    }
  }).filter((item) => item.region_id)
})

const clickRegion = (region: Region) => {
  emit("onClickMap", region.region_id)
}

</script>

<style lang="scss">
.map-kazakhstan {
  user-select: none;
  $self: &;

  &__parts {
    position: relative;
    left: 300px;
    max-width: 850px;
    height: 466px;
    transition: 0.6s ease;
  }

  &__item {
    position: absolute;
    cursor: pointer;
    transition: 0.2s ease;

    svg path {
      transition: 0.2s ease;
    }

    &-active {
      &:hover {
        svg {
          path {
            fill: #1DAA9C;
            stroke: #fff;
            fill-opacity: 1;
          }
        }
      }


      #{ $self }__info {
        //color: #fff;
      }
    }

    &.astana,
    &.almaty,
    &.shymkent {
      &-active {
        &:hover {
          #{ $self }__info {
            visibility: visible;
            scale: 1;
          }
        }
      }


      &::before {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 16px;
        min-width: 16px;
        height: 16px;
        border: 4px solid rgba(189, 199, 206, 0.5);
        border-radius: 50%;
        background: #1DAA9C;
        transform: translate(-50%, -50%);
        content: "";
      }

      z-index: 2;
      filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.15));

      #{ $self }__info {
        top: 50%;
        left: 50%;
        place-content: initial;
        border-radius: 4px;
        background: #fff;
        color: #2c3e50;
        box-shadow: 0 4px 8px rgba(157, 163, 172, 0.4);
        font-size: 10px;
        text-align: left;
        visibility: hidden;
        transition: scale 0.2s ease;
        transform: translate(0, 0);
        scale: 0.7;

        & > div {
          order: 2;
          padding: 4px 8px;
        }

        p {
          padding: 4px 8px;
          border-radius: 4px 4px 0 0;
          background: #1DAA9C;
          color: #fff;
          line-height: 12px;
        }
      }
    }

    &.ulytau {
      z-index: 2;
    }

    &.almaty-obl {
      #{ $self }__info {
        top: 35%;
        left: 30%;
        width: 50%;
      }
    }

    &.karaganda {
      #{ $self }__info {
        left: 70% !important;
      }
    }

    &.zhetisu {
      #{ $self }__info {
        width: 50%;
      }
    }

    &.sko {
      #{ $self }__info {
        top: 30%;
        left: 40%;
      }
    }

    &.zhambyl {
      #{ $self }__info {
        width: 50%;
      }
    }

    &.kustanai {
      #{ $self }__info {
        top: 40%;
        left: 40%;
        width: 50%;
      }
    }

    &.akmola {
      z-index: 1;

      #{ $self }__info {
        top: 40%;
        left: 70%;
        width: 50%;
      }
    }

    &.abai {
      #{ $self }__info {
        top: 32%;
        left: 45%;
      }
    }
  }

  &__info {
    position: absolute;
    top: 50%;
    left: 50%;
    display: grid;
    place-content: center;
    width: 130px;
    color: #2c3e50;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    transform: translate(-50%, -50%);
    z-index: 1;

    #{ $self }__quantity {
      font-weight: 600;
    }
  }

}
</style>
