<script setup lang="ts">
interface Props {
  name: string
  position: string
  img?: string
}

defineProps<Props>()

</script>

<template>
  <div class="flex flex-col items-center w-[250px] cursor-pointer gap-8 text-xl p-3 rounded-2xl hover:bg-gray-100 transition">
    <nuxt-img v-if="img" width="100px" height="`100px" class="rounded-[50%]" :src="img"/>
    <nuxt-img v-else width="100px" height="`100px" class="rounded-[50%]" src="/avatar.jpg"/>
    <div class="text-center">{{ name }}</div>
    <div class="text-center">{{ position }}</div>
  </div>
</template>

<style scoped lang="scss">

</style>