<script setup lang="ts">


import {useAsyncData} from "#app";
import InfoBlock from "~/components/shared/ui/info-block/index.vue";

const route = useRoute()
const id = route.params.id
const {$api} = useNuxtApp()

const {mediaURL} = useRuntimeConfig().public
const {data: employer} = await useAsyncData(
    () => $api.base.getEmployerById(id), {
      server: false
    })


</script>

<template>
  <div class="container mx-auto">
    <div class="flex flex-col gap-12" v-if="employer">
      <entity-user-card
          :img="mediaURL + employer.photo.url"
          :name="employer.fullName"
          :position="employer.position"
          :skills-id="employer?.SDGs"
      />
      <info-block title="Биография" :html="employer.biography"/>
      <info-block title="Исследовательские интересы" :html="employer.researchInterests"/>
      <info-block title="Выполняемая работа в программе" :html="employer.currentWork"/>
    </div>
  </div>
</template>

<style scoped lang="scss">

</style>