<script setup lang="ts">
import UniversityIcon from '@/components/shared/assets/icons/universities/5.svg'

const dataTitles = [
  "Команда",
  "Задачи",
  "Партнеры",
  "Контакты",
  "О нас",
  "Достижения",
  "Часто задаваемые вопросы",
  "г.Алматы",
  "Новости",
  "Правовая информация",
  "Правовая информация",
  "+7 (777) 777 77 - 77",
  "Контакты",
  "Политика конфиденциальности",
  "Политика конфиденциальности",
  "kaznu@kaznu.kz"
];

</script>

<template>
  <div>
    <div class="py-10 px-20 grid grid-cols-5  container mx-auto">
      <university-icon class="w-[120px] h-[120px]" filled :fontControlled="false"/>
      <div class="grid grid-cols-4 grid-rows-4 col-start-2 col-end-6 gap-x-4">
        <div v-for="title in dataTitles">
          {{ title }}
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped lang="scss">

</style>