<script setup lang="ts">

const {mediaURL} = useRuntimeConfig().public
const {$api} = useNuxtApp()

const {data, pending, error, refresh} = await useAsyncData(
    'universities',
    () => $api.base.getUniversities(),
)
const positions = [
  "top: 8%; left: 40%",
  "top: 28%; left: 10%",
  "top: 50%; left: 5%",
  "top: 72%; left: 10%",
  "top: 92%; left: 25%",
  "top: 92%; right: 25%",
  "top: 72%; right: 10%",
  "top: 50%; right: 5%",
  "top: 28%; right: 10%"
]

const universities = computed(() => {
  if (!data.value) return []
  return data.value.docs.map((el, idx) => {
    return {
      name: el.name,
      desc: el.currentWork,
      img: mediaURL + el.logo.url,
      id: el.id,
      xy: positions[idx],
    }
  })
})

const activeUniversity = ref(universities.value[0])

const select = (university) => {
  activeUniversity.value = university
}
</script>

<template>
  <div class="rounded pb-12 transition">
    <p class="text-3xl text-center font-medium">Задачи проекта</p>
    <div class="flex py-56  relative justify-center">
      <div v-for="university in universities"
           :class="[`${university.id === activeUniversity?.id? '  bg-white  text-black shadow-2xl border-transparent' : ''}`]"
           class="w-[300px] h-[100px] cursor-pointer rounded-3xl
             hover:bg-white text-[#373737] hover:text-black hover:shadow-2xl hover:border-transparent
             absolute text-sm text-center p-2
             flex items-center border border-[#C4C4C4]  transition
             justify-center"
           @click="select(university)"
           :style="university?.xy || ''"
      >
        {{ university.name }}
      </div>
      <div class="w-[350px] min-h-[400px]">
        <div class="flex flex-col items-center gap-8" v-if="activeUniversity">
          <nuxt-img :src="activeUniversity.img" class="w-[100px] h-[100px]"/>
          <p class=" text-center  min-h-[320px] ">{{ activeUniversity.desc }}</p>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped lang="scss">

</style>