<script setup lang="ts">
defineOptions({
  name: 'InfoBlock'
})
defineProps<{title: string, html: string}>()
</script>

<template>
  <div>
    <h3 class="text-5xl mb-10">{{title}}</h3>
    <p class="text-[#373737]" v-html="html"></p>
  </div>

</template>

<style scoped lang="scss">

</style>