<script setup lang="ts">
import WorldIcon from '@/components/shared/assets/icons/world.svg'
import UniversityIcon from '@/components/shared/assets/icons/main-logo.svg'

const navs = [
  {
    link: '/',
    name: 'Главная'
  },
  {
    link: 'partners',
    name: 'Партнеры'
  },
  {
    link: 'about',
    name: 'О программе'
  }
]
</script>

<template>
  <div class="w-full py-8 shadow-xl bg-white">
    <div class="container mx-auto">
      <nav class="flex items-center justify-between">
        <div class="flex items-center gap-8">
          <university-icon class="w-[75px] h-[75px]" filled :fontControlled="false"/>
          <nuxt-link v-for="nav in navs" class="text-2xl" :to="nav.link">
            {{ nav.name }}
          </nuxt-link>
        </div>
        <!-- <world-icon class="w-[75px] h-[75px]" filled :fontControlled="false"/> -->
      </nav>
    </div>
  </div>
</template>

<style scoped lang="scss">
.router-link-active {
  text-decoration: underline #9BAA8C;
}

</style>