<script setup lang="ts">
import Icon1 from '@/components/shared/assets/icons/universities/1.svg'
import Icon2 from '@/components/shared/assets/icons/universities/2.svg'
import Icon3 from '@/components/shared/assets/icons/universities/3.svg'
import Icon4 from '@/components/shared/assets/icons/universities/4.svg'
import Icon5 from '@/components/shared/assets/icons/universities/5.svg'
import Icon6 from '@/components/shared/assets/icons/universities/6.svg'
import Icon7 from '@/components/shared/assets/icons/universities/7.svg'
import Icon8 from '@/components/shared/assets/icons/universities/8.svg'
import Icon9 from '@/components/shared/assets/icons/universities/9.svg'
import Icon10 from '@/components/shared/assets/icons/universities/10.svg'


const iconsArray = [
  Icon1, Icon2, Icon3, Icon4, Icon5,
  Icon6, Icon7, Icon8, Icon9, Icon10
];
</script>

<template>
  <div class="w-full overflow-x-hidden py-5">
    <div class="scrolling-row inline-flex items-center gap-4">
      <template v-for="i in 2" :key="i">
          <component v-for="(icon, idx) in iconsArray" class="item w-[150px] h-[150px]" :key="idx" :is="icon" filled :fontControlled="false" />
      </template>
    </div>
  </div>
</template>

<style scoped lang="scss">
.scrolling-row {
  animation: scroll 15s linear infinite;
  white-space: nowrap; /* Prevent items from wrapping to the next line */
  &:hover {
    animation-play-state: paused;
  }
}
.item {
  transition: all 0.2s ease-in-out;
  &:hover {
    transform: scale(1.2);
  }
}

@keyframes scroll {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}
</style>
