<script setup lang="ts">

</script>

<template>
  <div class="container mx-auto flex flex-col gap-8">
    <h3 class="text-5xl font-medium text-center">Организации участники программы</h3>
    <widgets-universities-circle/>
    <features-goals-scrolling-row/>
  </div>
</template>

<style scoped lang="scss">

</style>