<script setup lang="ts">


</script>

<template>
  <div class="grid grid-cols-2 gap-4 h-[475px]">
    <div :class="[`bg-cover bg-center brightness-50 rounded bg-[url('@/components/shared/assets/icons/xz/img.png')]`]">
    </div>
    <div class="grid grid-rows-2 gap-4">
      <div
        :class="[`bg-cover bg-center brightness-50 rounded bg-[url('@/components/shared/assets/icons/xz/img_1.png')]`]">
      </div>
      <div
        :class="[`bg-cover bg-center brightness-50 rounded bg-[url('@/components/shared/assets/icons/xz/img_2.png')]`]">
      </div>
    </div>
  </div>
</template>

<style scoped lang="scss"></style>