<script setup lang="ts">

</script>

<template>
  <div
    class="py-20 px-52 bg-cover bg-center rounded bg-opacity-5 backdrop-blur-md bg-white/30 bg-[url('@/components/shared/assets/icons/flag.jpg')]">
    <p class="text-center text-5xl font-medium text-slate-300">
      Устойчивое развитие природно-хозяйственных и социально-экономических систем Западно-Казахстанского
      региона в контексте зеленого роста: комплексный анализ, концепция, прогнозные оценки и сценарии
    </p>
  </div>
</template>

<style scoped lang="scss"></style>