<script setup lang="ts">
import {useRoute} from "vue-router";
import {useAsyncData} from "#app";

const route = useRoute()
const {mediaURL} = useRuntimeConfig().public

const id = route.params.id
const {$api} = useNuxtApp()
const {data} = await useAsyncData(
    () => $api.base.getUniversityById(id)
)
const {data: employees} = await useAsyncData(
    () => $api.base.getEmployees(), {
      server: false
    })
const university = computed(() => {
  if (!data.value) return undefined
  return {
    name: data.value.name,
    img: mediaURL + data.value.logo.url,
    width: data.value.logo.width + 'px',
    height: data.value.logo.height + 'px'
  }
})

const {data: users} = await useAsyncData<{ name: string, position: string }[]>(() => $fetch('/data/users.json'), {
  server: false
})


</script>

<template>
  <div class="container mx-auto ">
    <div class="flex flex-col gap-20">
      <h3 class="flex gap-4 justify-center items-center">
        <nuxt-img v-if="university" :src="university.img" :width="university.width" :height="university.height"/>
        <p v-if="university" class="text-3xl">{{ university.name }}</p>
      </h3>
      <div class="flex justify-center">
        <div class="grid grid-cols-5 gap-8 ">
          <template v-if="employees" v-for="(user, idx) in employees.docs">
            <nuxt-link :to="`/users/${user.id}`">
              <entity-user-short-card :name="user.fullName" :img="mediaURL + user.photo.url" :position="user.position"/>
            </nuxt-link>
          </template>
        </div>
      </div>
      <features-goals-scrolling-row/>
    </div>
  </div>
</template>

<style scoped lang="scss">

</style>