<script setup lang="ts">

</script>

<template>
  <div class="relative flex flex-col gap-2 ">
    <features-header class="sticky top-0 z-10"/>
    <div class="">
      <slot/>
    </div>
    <features-footer />
  </div>
</template>

<style scoped lang="scss">

</style>