<script setup lang="ts">
import Icon1 from '@/components/shared/assets/icons/goals/1.svg'
import Icon2 from '@/components/shared/assets/icons/goals/2.svg'
import Icon3 from '@/components/shared/assets/icons/goals/3.svg'
import Icon4 from '@/components/shared/assets/icons/goals/4.svg'
import Icon5 from '@/components/shared/assets/icons/goals/5.svg'
import Icon6 from '@/components/shared/assets/icons/goals/6.svg'
import Icon7 from '@/components/shared/assets/icons/goals/7.svg'
import Icon8 from '@/components/shared/assets/icons/goals/8.svg'
import Icon9 from '@/components/shared/assets/icons/goals/9.svg'
import Icon10 from '@/components/shared/assets/icons/goals/10.svg'
import Icon11 from '@/components/shared/assets/icons/goals/11.svg'
import Icon12 from '@/components/shared/assets/icons/goals/12.svg'
import Icon13 from '@/components/shared/assets/icons/goals/13.svg'
import Icon14 from '@/components/shared/assets/icons/goals/14.svg'
import Icon15 from '@/components/shared/assets/icons/goals/15.svg'
import Icon16 from '@/components/shared/assets/icons/goals/16.svg'
import Icon17 from '@/components/shared/assets/icons/goals/17.svg'
import {useSkillsStore} from "~/components/entity/skils/model/skills-store";
interface Props {
  name: string
  position: string
  img: string
  skillsId: string[] | number
}

const props = defineProps<Props>()


const iconsArray = [
  Icon1, Icon2, Icon3, Icon4, Icon5,
  Icon6, Icon7, Icon8, Icon9, Icon10,
  Icon11, Icon12, Icon13, Icon14, Icon15,
  Icon16, Icon17
];
const store = useSkillsStore()

const selectRandomSkills= () =>{
  const numberOfIconsToSelect = 8;
  const selectedIcons = [];

  while (selectedIcons.length < numberOfIconsToSelect) {
    const randomIndex = Math.floor(Math.random() * iconsArray.length);
    const randomIcon = iconsArray[randomIndex];

    if (!selectedIcons.includes(randomIcon)) {
      selectedIcons.push(randomIcon);
    }
  }

  return selectedIcons;
}
const skills = ref<{id: number, icon: object}[]>(store.getById(props.skillsId))

</script>

<template>
<div class="flex  gap-20 p-8 rounded shadow-2xl items-center">
  <nuxt-img v-if="img" width="200px" height="200px" class="rounded" :src="img"/>
  <nuxt-img v-else width="200px" height="200px" class="rounded" src="/avatar.jpg"/>
  <div class="flex flex-col gap-14">
    <p class="text-4xl font-medium">{{name}}</p>
    <p>{{position}}</p>
  </div>

<div class="w-full flex justify-center items-center">
  <div class="grid grid-cols-4 justify-center items-center ">
    <template  v-if="skills?.length" v-for="skill in skills">
      <component :is="skill.icon" filled :fontControlled="false" class="w-[100px] h-[100px]"></component>
    </template>
  </div>
</div>
</div>
</template>

<style scoped lang="scss">

</style>