<script setup lang="ts">


</script>

<template>
  <div class="container mx-auto">
    <div class="w-full flex flex-col gap-20 pt-4">
      <features-title/>
      <div class="grid grid-cols-2 gap-4">
        <ui-collage/>
        <ui-collage/>
      </div>
      <features-universities-scrolling-row/>
      <div class="flex gap-20 ">
        <div class="flex flex-col gap-12 justify-center">
          <p class="text-4xl decoration-2 underline ">Новости</p>
          <nuxt-img src="/img.jpeg"/>
          <ui-button>Подробнее</ui-button>
        </div>
        <div class="flex flex-col gap-4">
          <ui-news/>
          <ui-news/>
          <ui-news/>
        </div>
      </div>
      <features-goals-scrolling-row/>
      <ui-map/>
<!--      :disabled-regions=" [-->
<!--      1, 2, 3, 4, 6, 8, 9,-->
<!--      11, 12, 13, 15, 16, 17, 18, 19, 20-->
<!--      ]"-->
    </div>
  </div>
</template>

<style scoped lang="scss">

</style>