<script setup lang="ts">

const {$api} = useNuxtApp()
const {mediaURL} = useRuntimeConfig().public

const {data, pending, error, refresh} = await useAsyncData(
    'universities',
    () => $api.base.getUniversities(),
)


const universities = [
  {xy: "top: 40%; left: 0%;"},
  {xy: "top: 12%; left: 17%;"},
  {xy: "top: 0%; left: 47%;"},
  {xy: "top: 12%; right: 17%;"},
  {xy: "top: 40%; right: 0%;"},
  {xy: "bottom: 17%; left: 13%;"},
  {xy: "bottom: 17%; right: 13%;"},
  {xy: "bottom: 2%; left: 34%;"},
  {xy: "bottom: 1%; right: 32%;"},
]
const universities2 = computed(() => {
  if (!data.value?.docs.length) return []
  return data.value.docs.map((university, idx) => {
    return {
      xy: universities[idx].xy,
      link: `partners/${university.id}`,
      img: mediaURL + university.logo.url,
      width: university.logo.width + 'px',
      height: university.logo.height + 'px',
      isMain: university?.isMain
    }
  }).filter(el => !el?.isMain)
})
const mainUniversity = computed(() => {
  if (!data.value?.docs.length) return undefined
  const uni = data.value.docs.map((university, idx) => {
    return {
      xy: universities[idx].xy,
      link: `partners/${university.id}`,
      img: mediaURL + university.logo.url,
      width: university.logo.width + 'px',
      height: university.logo.height + 'px',
      isMain: university?.isMain
    }
  })
  const university = uni?.filter(el => el?.isMain)
  return university[0]
})

</script>

<template>
  <div class="relative flex grow justify-center py-96">
    <template v-for="university in universities2">
      <nuxt-link :to="university?.link || '#'">
        <nuxt-img
            class="absolute cursor-pointer hover:scale-[1.2] transition"
            :width="university.width"
            :height="university.height"
            :src="university.img"
            :style="university.xy"/>
      </nuxt-link>
    </template>
    <nuxt-link
        v-if="mainUniversity"
        :to="mainUniversity.link">
      <nuxt-img
          :src="mainUniversity.img"
          :width="mainUniversity.width"
          :height="mainUniversity.height"
          class="cursor-pointer hover:scale-[1.2] transition"
      />
    </nuxt-link>
  </div>
</template>

<style scoped lang="scss">

</style>