<script setup lang="ts">
interface Props {
  img?: string
  date?: string
  link?: string
}
withDefaults(defineProps<Props>(), {
  date: '13 Ноября, 2023'
})
</script>

<template>
<div class="flex items-center gap-2">
  <nuxt-img src='/news.jpg' class="w-[300px] h-[300px] rounded"/>
  <div class="flex flex-col gap-9">
    <p class="font-semibold text-3xl">Статья</p>
    <ui-button>
      Подробнее
    </ui-button>
    <p class="font-semibold text-2xl">
      {{date}}
    </p>
  </div>
</div>
</template>

<style scoped lang="scss">

</style>