<script setup lang="ts">
import Icon1 from '@/components/shared/assets/icons/goals/1.svg'
import Icon2 from '@/components/shared/assets/icons/goals/2.svg'
import Icon3 from '@/components/shared/assets/icons/goals/3.svg'
import Icon4 from '@/components/shared/assets/icons/goals/4.svg'
import Icon5 from '@/components/shared/assets/icons/goals/5.svg'
import Icon6 from '@/components/shared/assets/icons/goals/6.svg'
import Icon7 from '@/components/shared/assets/icons/goals/7.svg'
import Icon8 from '@/components/shared/assets/icons/goals/8.svg'
import Icon9 from '@/components/shared/assets/icons/goals/9.svg'
import Icon10 from '@/components/shared/assets/icons/goals/10.svg'
import Icon11 from '@/components/shared/assets/icons/goals/11.svg'
import Icon12 from '@/components/shared/assets/icons/goals/12.svg'
import Icon13 from '@/components/shared/assets/icons/goals/13.svg'
import Icon14 from '@/components/shared/assets/icons/goals/14.svg'
import Icon15 from '@/components/shared/assets/icons/goals/15.svg'
import Icon16 from '@/components/shared/assets/icons/goals/16.svg'
import Icon17 from '@/components/shared/assets/icons/goals/17.svg'

const iconsArray = [
  Icon1, Icon2, Icon3, Icon4, Icon5,
  Icon6, Icon7, Icon8, Icon9, Icon10,
  Icon11, Icon12, Icon13, Icon14, Icon15,
  Icon16, Icon17
];
</script>

<template>
  <div class="w-full overflow-x-hidden py-5">
    <div class="scrolling-row inline-flex">
      <template v-for="i in 2" :key="i">
          <component v-for="(icon, idx) in iconsArray" :key="idx" class="w-[129px] h-[129px] item" :is="icon" filled :fontControlled="false" />
      </template>
    </div>
  </div>
</template>

<style scoped lang="scss">
.scrolling-row {
  animation: scroll 15s linear infinite;
  white-space: nowrap; /* Prevent items from wrapping to the next line */
  &:hover {
    animation-play-state: paused;
  }
}
.item {
  transition: all 0.2s ease-in-out;
  &:hover {
    transform: scale(1.2);
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
</style>
