<script setup lang="ts">

interface Props {
  width: 'fit' | 'fill'
}
withDefaults(defineProps<Props>(), {
  width: 'fit'
})
</script>

<template>
  <button class=" py-2 px-4 rounded-xl hover:bg-[#9BAA8C] transition border border-[#9BAA8C] fit"
  :class="[`${width === 'fit' ? 'w-fit' : 'w-full'}`]">
    <slot/>
  </button>
</template>

<style scoped>

</style>