<script setup lang="ts">

</script>

<template>
<div>
  <ui-button>
    test
  </ui-button>
  <ui-map/>
  <div class="container mt-96 mx-auto ">
    <features-goals-scrolling-row/>
    <features-universities-scrolling-row/>
  </div>
</div>
</template>

<style scoped>

</style>